* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #0f172a;
    color: white;
    background: url(../images/space-sized.jpg);
    /* Ensure the image covers the entire screen without stretching */
    background-size: cover;

    /* Center the image both vertically and horizontally */
    background-position: center;

    /* Prevent the image from repeating if the page is long */
    background-repeat: no-repeat;

    /* Optional: Keep the background fixed while scrolling */
    background-attachment: fixed;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 5%;
    background: rgba(255,255,255, 0.05);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    color: #38bdf8;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    list-style: none;
    gap: 2rem;
    margin-right: 30px;
}

.navbar-container .navbar-menu li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #e2e8f0;
    transition: .3s;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a:active{
    color: #38bdf8;
    text-shadow: 0 0 10px #38bdf8;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 880px) {
  .navbar {
      backdrop-filter: none;
  }

  .navbar-container .navbar-menu {
    display: none;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.7rem;
      position: absolute;
      height: 100vh;
      width: 250px;
      top: 0;
      right: 0;
      padding: 5rem 1.5rem;
      box-shadow: 0 10px 10px rgba(0,0,0,0,0.5);
      backdrop-filter: blur(10px);
  }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
  .navbar-container {
    padding: 0 1rem;
  }

  .navbar-logo {
    font-size: 1.7rem;
  }

  .navbar-container .navbar-menu li a {
    font-size: 1.2rem;
    padding: 3px 15px;
  }
}