* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #0f172a;
    color: white;
    background: url(../images/space-sized.jpg);
    /* Ensure the image covers the entire screen without stretching */
    background-size: cover;

    /* Center the image both vertically and horizontally */
    background-position: center;

    /* Prevent the image from repeating if the page is long */
    background-repeat: no-repeat;

    /* Optional: Keep the background fixed while scrolling */
    background-attachment: fixed;
}

nav {
    width: 100%;
    padding: 1rem 5%;
    background: rgba(255,255,255, 0.05);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    color: #38bdf8;
    letter-spacing: 1px;
    margin-right: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 30px;
}

.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #e2e8f0;
    transition: .3s;
}

.nav-links li a:hover {
    color: #38bdf8;
    text-shadow: 0 0 10px #38bdf8;
}

.btns {
    display: flex;
}

.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: #38bdf8;
    color: #0f172a;
    box-shadow: 0 0 15px #38bdf8;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hovere {
    background: #0aa9f3;
    box-shadow: 0 0 25px #0aa9f3;
}